.page {
  display: flex;
  margin-top: 15vh;
}

.wrapper {
  display: flex;
  align-items: start;
  gap: 180px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  margin-top: 80px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.buttonsWrapper {
  margin-top: 56px;
  display: flex;
}
