.page {
  margin-top: 40px;
}

.wrapper {
  display: flex;
  gap: 60px;
  margin-top: 20px;
}

.left {
  display: flex;
  flex-direction: column;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 188px);
  overflow: auto;
  padding-right: 15px;
}

.right {
  display: flex;
  flex-direction: column;
  margin-top: -55px;
}

.infoWrapper {
  display: flex;
  gap: 160px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 14px;
}

.completedAll {
  margin-top: 45px;
}

.completedToday {
  margin-top: 30px;
}
