.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	margin-left: 15px;
	gap: 16px;
}

.bun {
	margin-left: 27px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - 555px);
	gap: 16px;
	overflow: auto;
}

.cardIngredient {
	display: flex;
	gap: 13px;
}

.totalPrice {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;
	margin-top: 40px;
	margin-right: 16px;
}

.price {
	display: flex;
	align-items: center;
	gap: 10px;
}